@reference "tailwindcss";

.card {
  @apply flex flex-col overflow-hidden w-fit;
  border-radius: var(--border-radius-lg);
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
}

.card--standard {
  background-color: var(--surface-primary);
  border: var(--border-width-sm) solid var(--color-neutral-200);
}

.card--dark {
  background-color: var(--fill-inverse);
}

.card__media {
  @apply flex items-center w-full;
}

.card__media img {
    @apply w-full;
    border-radius: var(--border-radius-sm);
  }

.card__icon {
  @apply shrink-0;
  color: var(--text-brand);
  font-family: var(--family-icon);
  font-size: var(--font-size-4xl);
  font-style: normal;
  font-variation-settings: 'FILL' 0, 'GRAD' 0;
  font-weight: normal;
  line-height: 1;
}

.card__content {
  @apply flex flex-col;
  gap: var(--spacing-sm);
}

.card__heading {
  color: var(--text-primary);
  font-family: var(--family-heading);
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-heading);
  line-height: var(--line-height-heading);
  margin: 0;
}

.card--dark .card__heading {
  color: var(--fill-primary);
}

.card__description {
  color: var(--text-primary);
  font-family: var(--family-body);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
  margin: 0;
}

.card--dark .card__description {
  color: var(--text-inverse);
}

.card__button-group {
  @apply flex flex-wrap items-start;
  gap: var(--spacing-sm);
}
